{% extends 'base.html' %}


{% block content %}

    <div class="home_container">
        <div class="all_publication_container">
            <div class="item">

            </div>
            <div class="item">

            </div>
            <div class="item">

            </div>
            <div class="item">

            </div>
            <div class="item">

            </div>
            <div class="item">

            </div>
            <div class="item">

            </div>
        </div>

        <div class="top_publication_container">
            <div class="item_top">

            </div>

            <div class="item_top">

            </div>

            <div class="item_top">

            </div>
        </div>
    </div>

{% endblock %}
